<h1><%= @user.id ? 'Edit User' : 'Create User' %></h1>
<hr />
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true, autofocus: true %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true%>

  <%= f.label :dob %>
  <%= f.text_field :dob, required: true %>

  <%= f.submit %>
<% end %>