<h1><%= @user.full_name %></h1>
<p>D.O.B: <%= @user.dob %></p>
<h2>Appointments</h2>
<ul>
  <% @user.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.time, doctor_appointment_path(appointment.doctor_id, appointment) %>
    </li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Edit User', edit_user_path(@user) %>
<br />
<%= link_to 'Delete User', @user, method: :delete, class: "" %>
<br />
<%= link_to 'Back to all users', users_path %>