<%= render 'layouts/navbar' %>
<h1><%= @appointment.id ? 'Edit Appointment' : 'Create Appointment' %></h1>
<hr />

<%= form_with(model: [@dr, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :user %>
  <%= f.select :user_id, @users.collect { |u| [u.full_name, u.id] } %>
  <br />
  <%= f.label :time %>
  <%= f.text_field :time, required: true %>
  <br />
  <%= f.label :speciality %>
  <%= f.select :speciality, ['strange', 'pediatrics', 'family medicine'] %>
  <%= f.submit nil, class: "" %>
<% end %>